# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.[oa]
*.mod
*_m.F90
*.pyc
*.log
*.h5
*~
.DS_Store
*/.DS_Store

.cproject
.idea/
.project
.vscode

bin/
docs/
examples/

# python wrapper related
*.fpp
f90wrap_*.f90
_*.so
src.*/
.f2py_f2cmap 
.libs/ 
__pycache__/