# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.[oa]
*.mod
*.F90
*.pyc
*.log
*~

.cproject
.idea/
.project
bin/

Old/xfocus
Old/dfocus
New/xfocus
New/dfocus