# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.[oa]
*.mod
*_m.F90
*.pyc
*.log
*.h5
*~
.DS_Store
*/.DS_Store

.cproject
.idea/
.project

bin/
docs/

examples/d3d_RMP/
examples/rotating_ellipse/
examples/lhd/
examples/w7x_high_mirror/
examples/limiter_surface/

# python wrapper related
*.fpp
f90wrap_*.f90
_*.so
focus_pkg/